<table mat-table [dataSource]="toolUsageData" matSort>
    <ng-container matColumnDef="tool">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tool</th>
      <td mat-cell *matCellDef="let usage">{{ usage.tool }}</td>
    </ng-container>
    <ng-container matColumnDef="usageHours">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Usage Hours</th>
      <td mat-cell *matCellDef="let usage">{{ usage.usageHours }}</td>
    </ng-container>
    <ng-container matColumnDef="changeOverTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Changeover Time</th>
      <td mat-cell *matCellDef="let usage">{{ usage.changeOverTime }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['tool', 'usageHours', 'changeOverTime']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['tool', 'usageHours', 'changeOverTime']"></tr>
  </table>
  