<h2>JSON Data</h2>

<table>
  <thead>
    <tr>
      <th>tool_id</th>
      <th>count</th>
      <th>time</th>
      <th>first</th>
      <th>last</th>
      <th>cposmin</th>
      <th>cposmax</th>
      <th>uposmin</th>
      <th>uposmax</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of jsonData">
      <td>{{ item.tool_id }}</td>
      <td>{{ item.count }}</td>
      <td>{{ item.time }}</td>
      <td>{{ item.first }}</td>
      <td>{{ item.last }}</td>
      <td>{{ item.cposmin }}</td>
      <td>{{ item.cposmax }}</td>
      <td>{{ item.uposmin }}</td>
      <td>{{ item.uposmax }}</td>
    </tr>
  </tbody>
</table>
